{extends file="baseWithNav.html"}

{block name=content}
<div class="container-fluid">
    <h1>{_("shop.title")}</h1>

    <div class="row-fluid">
        {foreach from=$items item=item}
        <div class="container item">
            <a href="{$path}item/{$item->id}">
                <h4 class="muted">
                    {$item->name}
                </h4>
                <img src="{if $item->image}{$item->image}{else}{$item_placeholder}{/if}" class="img-polaroid"
                     style="background-color:#ddd; "/>
            </a>
            <h5>{($item->price/100.0)|number_format:2:",":"."} €</h5>

            <form method="post" action="{$path}cart/addItem/{$item->id}">
                {if !$item->inStock()}
                <div class="text-error">{_("item.outofstock")}</div>
                {else}
                <input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
                {if $item->sizes}
                <select name="size" class="span12">
                    {foreach from=$item->sizes item=size}
                        {if $item->inStock(1, $size)}
                        <option>{$size->size}</option>
                        {/if}
                    {/foreach}
                </select>
                {/if}

                <div class="btn-group">
                    <input type="submit" value="{_('item.add')}" class="btn btn-primary"/>
                </div>
                {/if}
            </form>
        </div>
        {/foreach}

    </div>
    <!--/row-->
</div>
{/block}
