{extends file="base.html"}

{block name=content}
	<h1>Online Tickets</h1>
	
	<!-- Begin Ticketscript code -->
	<iframe name="ticketshop"
		src="https://shop.ticketscript.com/channel/web2/start-order/rid/HX52RFEP/language/de"
		class="container" frameborder="0" allowtransparency="true">
		Ihr Browser kann leider keine eingebetteten Frames anzeigen! 
		<a href="https://shop.ticketscript.com/channel/web2/start-order/rid/HX52RFEP/language/de"></a>
	</iframe>
	<a
		style="font-size: 11px; color: #7F7F7F; background-color: #FFFFFF; font-family: 'Arial'; font-weight: bold; margin: 20px"
		href="http://company.ticketscript.com/de/?cid=8.1" target="_blank">
		Secure tickets by ticketscript </a>
	<!-- End Ticketscript code -->
{/block}

{block name=moreScripts}
{literal}
	<script>
		// resize ticketshop 
		$(function() {
			window.updateIframe = function() {
				var h = $(window).height();
				$("[name='ticketshop']").height(h);
			}
			window.updateIframe();
			window.resize(window.updateIframe);
		});
	</script>
{/literal}
{/block}
