{extends file="baseWithNav.html"}

{block name=content}
	<h1>{_("order.title")}</h1>
	
	<div class="span6">
		<h6>{_("order.shippingaddress")}:</h6>
		{if $order->address} {$order->address->name}
		{$order->address->lastname}<br /> {$order->address->street}
		{$order->address->building_number}<br /> {$order->address->postcode}
		{$order->address->city}<br /> {$order->address->country} {else}
		{$order->user->currentAddress()->name}
		{$order->user->currentAddress()->lastname}<br />
		{$order->user->currentAddress()->street}
		{$order->user->currentAddress()->building_number}<br />
		{$order->user->currentAddress()->postcode}
		{$order->user->currentAddress()->city}<br />
		{$order->user->currentAddress()->country} {/if}
	</div>
	
	<div class="span6">
		<table class="table">
			<tr>
				<th>{_("order.billingnumber")}</th>
				<td>TS-{$order->id}</td>
			</tr>
			<tr>
				<th>{_("order.status.ordered")}</th>
				<td>{$order->ordertime->format('d.m.Y, H:i')} Uhr</td>
			</tr>
			<tr>
				<th>{_("order.status.paymentreceived")}</th>
				<td>{if $order->paymenttime} {$order->paymenttime->format('d.m.Y, H:i')} Uhr {else} {if
					isset($smarty.session['auth_user']) && $user->admin}
					<form method="post" action="{$path}order/{$order->id}/payed"
						style="display: inline">
						<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
						<button type="submit" class="btn">
							<i class="icon-barcode"></i> {_("order.status.markaspayed")}
						</button>
					</form> {else} - {/if} {/if}
				</td>
			</tr>
			<tr>
				<th>{_("order.status.shipped")}</th>
				<td>{if $order->shippingtime} {$order->shippingtime->format('d.m.Y, H:i')} Uhr {else} {if
					isset($smarty.session['auth_user']) && $user->admin}
					<form method="post" action="{$path}order/{$order->id}/shipped"
						style="display: inline">
						<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
						<button type="submit" class="btn">
							<i class="icon-gift"></i> {_("order.status.markasshipped")}
						</button>
					</form> {else} - {/if} {/if}
				</td>
			</tr>
			{if isset($smarty.session['auth_user']) && $user->admin}
			<tr>
				<th>{_("order.billingpdf")}</th>
				<td>
				{if $order->paymenttime}
					<form method="get" action="{$path}order/billing/{$order->hashlink}"
						style="display: inline">
						<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
						<button type="submit" class="btn">
							<i class="icon-barcode"></i> {_("order.button.createbillingpdf")}
						</button>
					</form>
				{else}
				{_("order.status.markaspayedfirst")}
				{/if}
				</td>
			</tr>
			{/if}
		</table>
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th>
					<!-- image column -->
				</th>
				<th>{_("cart.item")}</th>
				<th>{_("item.variation")}</th>
				<th>{_("cart.amount")}</th>
				<th>{_("item.price")}</th>
				<th>{_("order.total")}</th>
			</tr>
		</thead>
		{foreach from=$order->orderitems item=item}
		<tr>
			<td><img
				src="{if $item->item->image}{$item->item->image}{else}{$item_placeholder}{/if}"
				class="img-square"
				style="background-color: #ddd; height: 50px; width: 50px;" />
			</td>
			<td>{$item->item->name} {if $item->item->numbered} <br />{_("item.numbers")}:
				{foreach $item->itemnumbers as $in} {$in->number}{if not $in@last},
				{/if} {/foreach} {/if}
			</td>
			<td>{$item->size}</td>
			<td>{$item->amount}</td>
			<td>{($item->price/100)|number_format:2:",":"."} €</td>
			<td>{($item->amount * ($item->price)/100)|number_format:2:",":"."} €</td>
		</tr>
		{/foreach}
	
		<tr>
			<td colspan="4" style="border-top:none"></td>
			<td><b>{_("order.shipping")}</b></td>
			<td><b>{($order->shipping/100)|number_format:2:",":"."} €</b>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border-top:none"></td>
			<td><b>{_("order.fees")}</b></td>
			<td><b>{($order->payment_fee / 100)|number_format:2:",":"."} €</b>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border-top:none"></td>
			<td><b>{_("order.total")}</b></td>
			<td><b>{($order->getSum() / 100)|number_format:2:",":"."} €</b>
			</td>
		</tr>
	</table>
	{if $order->status != payed && $order->payment_id == null}
	<div id="paymentMethods">
		Jetzt bezahlen:
		<a href="#sofortModal" role="button" class="btn" data-toggle="modal"><img src="{$path}assets/img/SOFORT_Ueberweisung/icon-48x32.png">
		+ {($order->getFeeFor('sofort') / 100)|number_format:2:",":"."} €</a>
	</div>

	<div id="sofortModal" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">{_("payment.sofort.header")}</h3>
		</div>
		<form method="post" action="{$path}payment/sofort/pay" style="display:inline">
			<div class="modal-body">
				<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
				<input type="hidden" name="orderId" value="{$order->id}" /> <label>{_("payment.sofort.account.holder")}</label>
				<input type="text" name="accountHolder" /> <label>{_("payment.sofort.account.number")}</label>
				<input type="text" name="accountNumber" /> <label>{_("payment.sofort.bankcode")}</label>
				<input type="text" name="bankcode" />
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button type="submit" class="btn">{_("payment.sofort.pay")}</button>
			</div>
		</form>
	</div>
{/if}
{/block}
