@CHARSET "UTF-8";

.container {
    margin-top: 0px;
}

.item {
    height: 200px;
    float: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}