{extends file="baseWithNav.html"}

{block name=content}
	<div class="row-fluid" ng-app="tapeshop">
	
		<div class="span6">
			<form method="post" action="{$path}item/edit/{$item->id}"
				class="form-horizontal" enctype="multipart/form-data" >
				<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
				{include file="item/itemform.html"}
			</form>
		</div>
	
		<div class="span4 well">
            {include file="item/parts/remove-image-button.html"}
            {include file="item/parts/remove-item-button.html"}
		</div>

        <div class="span4 well" ng-controller="stockController">
            <span id="itemId" data-item-id="{$item->id}" style="display:none"></span>
        {* TODO extract angular templates *}
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="item.manage_stock" ng-change="updateManageStock(item)"> {_("item.edit.managestock")}
                </label>
            </div>
            <div ng-show="item.manage_stock && item.sizes.length == 0">
                {_("item.edit.stock")}: {literal}{{ item.stock }}{/literal}
                <div class="input-append">
                    <input type="number" placeholder="{_("item.stock.amount")}" name="amount" ng-model="amount">
                    <button type="submit" class="btn" ng-click="addStock(item, amount)"><i class="icon-plus"></i></button>
                </div>
            </div>

            <div>
                <h5>
            {_("item.variations")}

                </h5>
                <div ng-repeat="variation in item.sizes | orderBy:'size'">
                    {literal}{{ variation.size }}{/literal}
                    <span ng-show="item.manage_stock">
                        {literal}{{ variation.stock }}{/literal}
                        <div class="input-append">
                            <input type="number" placeholder="{_("item.stock.amount")}" name="amount" ng-model="amount">
                            <button type="submit" class="btn" ng-click="addVariationStock(variation, amount)">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                    </span>
                    <button type="submit" class="btn btn-mini" ng-click="deleteVariation(variation)">
                        <i class="icon-trash"></i>
                    </button>
                </div>
                <div class="input-append">
                    <input type="text" placeholder="{_("item.variation")}" ng-model="variationName" name="size"/>
                    <button type="submit" class="btn" ng-click="addVariation(item, variationName)">
                        <i class="icon-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="span4 well" ng-controller="numbersController">

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="item.numbered" ng-change="updateManageNumbers(item)"> {_("item.numbers")}
                </label>
            </div>
            <div ng-show="item.numbered">
                <div ng-show="errors">
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-repeat="error in errors">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {literal}{{ error.message }} <a href="{{error.url}}" target="_blank">{/literal}{_("item.edit.order")}</a>
                    </div>
                </div>
                <div ng-show="warnings">
                    <div class="alert alert-warning alert-dismissible" role="alert" ng-repeat="warn in warnings">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {literal}{{ warn.message }} <a href="{{warn.url}}" target="_blank">{/literal}{_("item.edit.order")}</a>
                    </div>
                </div>
                <div ng-show="ask">
                    <div class="alert alert-danger" ng-repeat="a in ask">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {literal}{{ a.message }} <a href="{{a.url}}" target="_blank">{/literal}{_("item.edit.order")}</a>
                        <button type="button" ng-click="overrideWarning(a.itemnumber)" class="btn btn-danger">{_("item.edit.override")}</button>
                    </div>
                </div>
                <h5>{_("item.edit.numberblocks")}</h5>
                {_("item.edit.freenumbers")}: {literal}{{ freeNumbers }}{/literal} {_("item.edit.numbers")}
                {literal}
                <div ng-repeat="numberBlock in freeNumberBlocks">
                    <span ng-show="numberBlock.low == numberBlock.high">{{numberBlock.low}}</span>
                    <span ng-show="numberBlock.low != numberBlock.high">{{numberBlock.low}} - {{numberBlock.high}}</span>
                </div>
                {/literal}
                <div class="input-append">
                    <input type="text" placeholder="{_("item.edit.add.remove.numbers")}" ng-model="numberString" name="size"/>
                    <button type="submit" class="btn" ng-click="updateNumbers(item, numberString)">
                        <i class="icon-plus"></i>
                    </button>
                </div>

                <h5>{_("item.edit.invalidnumbers")}</h5>
                {_("item.edit.invalid")}: {literal}{{ invalidNumbers }}{/literal} {_("item.edit.numbers")}
                {literal}
                <div ng-repeat="numberBlock in invalidNumberBlocks">
                    <span ng-show="numberBlock.low == numberBlock.high">{{numberBlock.low}}</span>
                    <span ng-show="numberBlock.low != numberBlock.high">{{numberBlock.low}} - {{numberBlock.high}}</span>
                </div>
                {/literal}
                <div class="input-append">
                    <input type="text" placeholder="{_("item.edit.invalidate.validate.numbers")}" ng-model="invalidNumberString" name="size"/>
                    <button type="submit" class="btn" ng-click="updateInvalidNumbers(item, invalidNumberString)">
                        <i class="icon-plus"></i>
                    </button>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="item.shownumbers" ng-change="updateShowNumbers(item)"> {_("item.edit.shownumberstocusomers")}
                    </label>
                </div>
                <form method="post" action="{$path}item/{$item->id}/numberspdf">
                    <div class="input-append">
                        <input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
                        <button type="submit" class="btn btn-default"><i class="icon-list"></i> {_("item.numbers.pdf")}</button>
                    </div>
                </form>
            </div>
        </div>
	</div>
{/block}

{block name=moreScripts}
	<script src="{$path}node_modules/tinymce/tinymce.min.js"></script>
    <script src="assets/js/itemEdit.js"></script>
{literal}
	<script>
	  tinymce.init({
          selector:'textarea',
          menubar:false
      });
	</script>
{/literal}
{/block}