{extends file="baseWithNav.html"}

{block name=content}
	<div class="row">
        <h1>{_("shop.checkout")}</h1>
		<form class="form-horizontal" method="post" action="{$path}noSignup">
			<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
			<div class="control-group">
				<label class="control-label" for="email">{_("user.email")}</label>
				<div class="controls">
					<input type="text" id="email" name="email" placeholder="Email"
						value="{if isset($checkoutform)}{$checkoutform['email']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="name">{_("user.firstname")}</label>
				<div class="controls">
					<input type="text" id="name" name="name" placeholder="Name"
						value="{if isset($checkoutform)}{$checkoutform['name']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lastname">{_("user.lastname")}</label>
				<div class="controls">
					<input type="text" id="lastname" name="lastname"
						placeholder="Lastname"
						value="{if isset($checkoutform)}{$checkoutform['lastname']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="street">{_("address.street")}</label>
				<div class="controls">
					<input type="text" id="street" name="street" placeholder="Street"
						value="{if isset($checkoutform)}{$checkoutform['street']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="bulding_number">{_("address.buildingnumber")}</label>
				<div class="controls">
					<input type="text" id="bulding_number" name="building_number"
						placeholder="Building Number"
						value="{if isset($checkoutform)}{$checkoutform['building_number']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="postcode">{_("address.postcode")}</label>
				<div class="controls">
					<input type="text" id="postcode" name="postcode"
						placeholder="Postcode"
						value="{if isset($checkoutform)}{$checkoutform['postcode']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="city">{_("address.city")}</label>
				<div class="controls">
					<input type="text" id="city" name="city" placeholder="City"
						value="{if isset($checkoutform)}{$checkoutform['city']}{/if}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="country">{_("address.country")}</label>
				<div class="controls">
					<input type="text" id="country" name="country" placeholder="Country"
						value="{if isset($checkoutform)}{$checkoutform['country']}{/if}">
				</div>
			</div>
			<div class="controls">
				<button type="submit" class="btn">{_("checkout.continue")}</button>
			</div>
		</form>
	</div>
{/block}
