{extends file="baseWithNav.html"}

{block name=content}
<div class="container-fluid">
    <h1>Shop</h1>

    <p><strong>Bitte beachte:</strong> In Tickets mit Übernachtung sind zwei Übernachtungen in der Jugendherberge Kassel inbegriffen. Wenn du dich selbst um eine Übernachtung außerhalb der Jugendherberge kümmerst, wähle ein Ticket ohne Übernachtung.</p>

    <p>Alle Tickets sind für den gesamten Konferenzzeitraum gültig und beinhalten Verpflegung (Essen, Kaffee, Tee). Wenn du vegane, vegetarische oder glutenfreie Mahlzeiten möchtest, gib uns bitte gesondert Bescheid.</p>

    <p>Die openmind #om15 startet am Freitag, 11.09. abends (Anreise und Socialising). Vorträge und Barcamp finden von Samstagvormittag bis Sonntagnachmittag statt. Der Vorverkauf endete am 20. September, eine Tageskasse wird es möglicherweise geben.</p>

    <p>Wir haben auch dieses Jahr ein <strong>Early-Bird-Kontingent</strong> für die ersten Bestellungen. Wenn weg, dann weg, also schnell zugreifen!</p>

    <p>Da die openmind von neuen Impulsen lebt, gibt es auch ein reserviertes Kontingent für Leute, die noch nie dabei waren. Einfach unten ein Ticket mit dem Zusatz <strong>›meine erste openmind‹</strong> auswählen. Kostet das selbe, hat keine versteckten Features.</p>

    <p>Wir freuen uns über alle, die ein <strong>Support-Ticket</strong> kaufen: Die sind teurer als normale (wie sehr, kannst du selbst festlegen); das dadurch zusätzlich eingenommene Geld verwenden wir für Sozialtickets und unser Referent*innen-Budget.</p>

    <div class="row-fluid">
        {foreach from=$items item=item}
        <div class="container item">
            <a href="{$path}item/{$item->id}">
                <h4 class="muted">
                    {$item->name}
                </h4>
                <img src="{if $item->image}{$item->image}{else}{$item_placeholder}{/if}" class="img-polaroid"
                     style="background-color:#ddd; "/>
            </a>
            <h5>{($item->price/100.0)|number_format:2:",":"."} €</h5>

            <form method="post" action="{$path}cart/addItem/{$item->id}">
                {if !$item->inStock()}
                <div class="text-error">{_("item.outofstock")}</div>
                {else}
                <input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
                {if $item->sizes}
                <select name="size" class="span12">
                    {foreach from=$item->sizes item=size}
                        {if $item->inStock(1, $size)}
                        <option>{$size->size}</option>
                        {/if}
                    {/foreach}
                </select>
                {/if}

                <div class="btn-group">
                    <input type="submit" value="{_('item.add')}" class="btn btn-primary"/>
                </div>
                {/if}
                {if $item->ticketscript}
                <a href="{$path}ticketscript" class="btn btn-success">{_("ticketscript.buybutton")}</a>
                {/if}
            </form>
        </div>
        {/foreach}

    </div>
    <!--/row-->
</div>
{/block}