{extends file="baseWithNav.html"}

{block name=content}
	<table class="table">
		<thead>
			<tr>
				<th>
					{_("user.id")}
				</th>
				<th>
					{_("user.username")}
				</th>
				<th>
					{_("user.email")}
				</th>
				<th>
					{_("user.firstname")}
				</th>
				<th>
					{_("user.lastname")}
				</th>
				<th>
					{_("address.street")}
				</th>
				<th>
					{_("address.buildingnumber")}
				</th>
				<th>
					{_("address.postcode")}
				</th>
				<th>
					{_("address.city")}
				</th>
				<th>
					{_("address.country")}
				</th>
				<th>
					{_("shop.adminflag")}
				</th>
				<th>
					{_("order.count")}
				</th>
				<th>
					{_("edit")}
				</th>
				<th>
					{_("delete")}
				</th>
			</tr>
		</thead>
		{foreach from=$users item=user}
		<tr>
			<td>
				{$user->id}
			</td>
			<td>
				{$user->username}
			</td>
			<td>
				{$user->email}
			</td>
			<td>
				{$user->currentAddress()->name}
			</td>
			<td>
				{$user->currentAddress()->lastname}
			</td>
			<td>
				{$user->currentAddress()->street}
			</td>
			<td>
				{$user->currentAddress()->building_number}
			</td>
			<td>
				{$user->currentAddress()->postcode}
			</td>
			<td>
				{$user->currentAddress()->city}
			</td>
			<td>
				{$user->currentAddress()->country}
			</td>
			<td>
				{$user->admin}
			</td>
			<td>
				{count($user->orders)}
			</td>
			<td>
				<a href="{$path}admin/user/edit/{$user->id}" class="btn"><i class="icon-pencil"></i></a>
			</td>
			<td>
				<form method="post" action="{$path}user/delete/{$user->id}" style="display:inline">
					<input type="hidden" name="{$csrf_key}" value="{$csrf_token}">
					<button type="submit" class="btn"><i class="icon-trash"></i></button>
				</form>
			</td>
		</tr>
		{/foreach}
	</table>
{/block}